@import "tailwindcss";

@theme {
  --breakpoint-2xs: 360px;
  --breakpoint-xs: 480px;
  --breakpoint-2md: 850px;
  --breakpoint-2lg: 1100px;
  --breakpoint-3xl: 1700px;
  --breakpoint-4xl: 1920px;

  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;

  --color-primary: #ad46ff;
  --color-primary-dark: #8a38cc;
  --color-primary-dark-2: #6e2da3;
  --color-primary-light: #bd6bff;
  --color-primary-light-2: #ca89ff;
  --color-secondary: #f6339a;
  --color-secondary-dark: #e60076;
}

html {
  font-size: 75% !important;
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  /* sm */
  html {
    font-size: 81.25% !important;
  }
}

@media (min-width: 850px) {
  /* 2md */
  html {
    font-size: 87.5% !important;
  }
}

@media (min-width: 1536px) {
  /* 2xl */
  html {
    font-size: 93.75% !important;
  }
}

@media (min-width: 1700px) {
  /* 3xl  */
  html {
    font-size: 100% !important;
  }
}

@utility scaleOnHover {
  @apply active:scale-120 lg:hover:scale-120;
}

@utility primaryClasses {
  @apply bg-primary border border-primary text-white
         active:bg-primary-dark active:border-primary-dark
         lg:hover:bg-primary-dark lg:hover:border-primary-dark
         disabled:hover:bg-primary disabled:hover:border-primary disabled:hover:text-white;
}

@utility blackOutlinedToPrimaryClasses {
  @apply bg-transparent border border-neutral-600
         active:bg-primary lg:hover:bg-primary lg:hover:text-white
         active:text-white lg:hover:border-primary active:border-primary
         disabled:hover:bg-transparent disabled:hover:border-neutral-600;
}

@utility primaryOutlinedClasses {
  @apply bg-transparent border text-primary border-primary
         active:bg-primary lg:hover:bg-primary lg:hover:text-white
         active:text-white lg:hover:border-primary
         disabled:hover:bg-transparent disabled:hover:text-primary disabled:hover:border-primary;
}

@utility primaryLightClasses {
  @apply bg-primary-light border border-primary-light text-white
         active:bg-primary active:border-primary active:text-white
         lg:hover:bg-primary lg:hover:border-primary lg:hover:text-white
         disabled:hover:bg-primary-light disabled:hover:border-primary-light disabled:hover:text-white;
}

@utility secondaryClasses {
  @apply bg-secondary border border-secondary text-white
         active:bg-secondary-dark active:border-secondary-dark
         lg:hover:bg-secondary-dark lg:hover:border-secondary-dark
         disabled:hover:bg-secondary disabled:hover:border-secondary disabled:hover:text-white;
}

@utility dangerClasses {
  @apply bg-red-600 border border-red-600 text-white
         hover:bg-red-500 hover:border-red-500
         disabled:hover:bg-red-600 disabled:hover:border-red-600 disabled:hover:text-white;
}

@utility successClasses {
  @apply bg-green-600 border border-green-600 text-white
         hover:bg-green-500 hover:border-green-500
         disabled:hover:bg-green-600 disabled:hover:border-green-600 disabled:hover:text-white;
}

@utility systemClasses {
  @apply bg-neutral-100 border border-neutral-200 text-neutral-800
         hover:bg-neutral-200 hover:border-neutral-300
         disabled:hover:bg-neutral-100 disabled:hover:border-neutral-200 disabled:hover:text-neutral-800;
}

@utility whiteGrayClasses {
  @apply bg-white border border-neutral-200
         hover:bg-neutral-100
         disabled:hover:bg-white disabled:hover:border-neutral-200;
}
@utility whiteOutlinedClasses {
  @apply bg-transparent border text-white border-white
         lg:hover:bg-white/20  active:bg-white/20
         disabled:hover:bg-transparent;
}

@utility blackClasses {
  @apply bg-neutral-900 border border-neutral-900 text-white
         hover:bg-neutral-800 hover:border-neutral-800
         disabled:hover:bg-neutral-900 disabled:hover:border-neutral-900 disabled:hover:text-white;
}

@utility linkClasses {
  @apply text-blue-500 hover:text-blue-700 hover:underline;
}

@utility filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(329deg)
    brightness(106%) contrast(101%);
}

@utility xy-center {
  @apply top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
}

@utility x-center {
  @apply left-1/2 -translate-x-1/2;
}
@utility y-center {
  @apply top-1/2 -translate-y-1/2;
}

@utility bg-center-cover {
  @apply bg-cover bg-center bg-no-repeat;
}

@utility no-shaking {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@utility no-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button::selection {
  @apply bg-transparent;
}

a:link::selection,
a:visited::selection {
  color: auto;
  @apply bg-transparent;
}

/* Entire scrollbar */
* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: var(--color-primary-light-2) #f1f1f1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
